/* HOME PAGE */

.home-page {
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.banner {
  background-image: url("Assets/mile1-assets/home-banner.png");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}
.banner h3 {
  font-family: "Satisfy";
  color: #fdc913;
}

.siparis.buton-div {
  margin: 50px;
}

.aciktim-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #292929;
  background-color: #fdc913;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  animation: bounce 0.5s cubic-bezier(0.8, 0, 1, 1) infinite alternate;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-wrap: wrap;
}

.top-icons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
  margin: 0;
  border: 0;
  border-radius: 100px;
  padding: 5px 25px;
  background-color: white;
}




/* HOME PAGE END */

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: #ce2829;
}
/* HEADER END*/

/*ORDER PAGE*/

.formContainer {
  max-width: 600px;
  margin: 0 auto;
}

.formContainer h3 {
  font-family: Barlow;
  font-size: 22px;
  font-weight: 600;
  line-height: 29.44px;
  text-align: left;
}

.rating-container {
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 700;
  line-height: 37.47px;
  text-align: left;
}
.rating {
  display: flex;
  justify-content: space-between;
  gap: 75px; /* Rating değerleri arasındaki boşluk */
  align-items: center; /* Dikey hizalama */
}

.infoText {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.pizza-size-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pizza-size-container h3 {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.76px;
  text-align: left;
}
.pizza-size-container h3 span {
  color: red;
}

.malzemeler-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
}

.malzeme-label {
  flex-basis: calc(
    33.33% - 10px
  ); /*  bunu çözene kadar canım çıktı.   3 malzeme içeren sütunlar*/
  margin-bottom: 10px;
  padding: 5px;
}
#nameArea{
  width: 580px;
  height: 28px;
  border-radius: 6px;
  resize: none;
  font-size: 18px;

}

#textArea {
  width: 580px;
  height: 56px;
  border-radius: 6px;
  resize: none;
}


hr {
  margin-top: 30px;
  width: 580px;
}

.button-group {
  margin-top: 30px;
}
.decrement-button {
  width: 47px;
  height: 56px;
  border-radius: 6px 0px 0px 6px;
  background-color: #fdc913;
}
.increment-button {
  width: 47px;
  height: 56px;
  border-radius: 0px 6px 6px 0px;
  background-color: #fdc913;
}

.numberCounter {
  padding: 17px 20px;
  border: 1px solid #d9d9d9;
}

.siparis-container {
  display: flex;
  justify-content: space-between;

}
.siparis-toplam {
  width: 386px;
  padding: 0 ;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  margin-top: 30px;
}

.siparis-toplam h3 {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 0px 60px;
  height: 30px;
}
.price-container{
  margin: 25px 0;
}


.fiyatlar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
  font-size: 16px;
  padding: 0 60px;
}

.fiyatlar.grey {
  color: #666;
}

.fiyatlar.red {
  color: red;
  font-weight: bold;
}

.submit-button {
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 62px;
  border-radius: 6px;
}

.submit-button:hover {
  background-color: #ffa000;
}

/* ORDER PAGE END*/

/*SUCCESS PAGE*/

.orderSuccess {
  font-family: Roboto Condensed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ce2829;
  color: #faf7f2;
  width: 100vw;
  height: 100vh;
}
.orderSuccess img {
  margin-top: 0;
  margin-bottom: 100px;
}

.orderSuccess p {
  margin: 0;
  padding: 0;
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
}

/*SUCCESS PAGE END*/
